<div class=sign>
<div class="signup-form form">
<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name,
                required: true,

                input_html: { autocomplete: "first_name",
                placeholder: "FirstName" }%>
    <%= f.input :last_name,
                required: true,
                label: false,
                input_html: { autocomplete: "last_name",
                placeholder: "LastName" } %>
    <%= f.input :username,
                required: true,
                label: false,
                input_html: { autocomplete: "username",
                  placeholder: "UserName" } %>
                  <div class="male">
   <h3>Male</h3><%= f.radio_button :gender, true, :class => 'form-control radio-inline' %>
   </div>
   <div class="female">
<h3>Female</h3><%= f.radio_button :gender, false, :class => 'form-control radio-inline' %>
</div>
     <%= f.input :age,
                required: true,
                label: false,
                input_html: { autocomplete: "age",
                  placeholder: "Age" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Next" %>
  </div>
<% end %>
</div>
