<div class="container container-checkins-index">
  <h2>What People are Talking About </h2>
  <% @checkins.each do |checkin| %>
  <div class="row">
    <div class="col-12">
      <div class="checkin">
        <div class="checkin-infos">
          <%= link_to place_path(checkin.place) do %>
          <div class="checkin-location">
            <img class="icon-batwrap" src="https://img.icons8.com/material/24/000000/worldwide-location--v1.png"><p><%=checkin.place.name%></p>
          </div>
          <% end %>
          <div class="checkin-content">
            <p><%= checkin.comment %></p>
            <% if !checkin.photo.nil? %>
            <div class="checkin-photo">
              <%= cl_image_tag(checkin.photo, :height => 50, :crop => "pad") %>
            </div>
            <% end %>
          </div>
          <div class="checkin-time">
            <p><%= distance_of_time_in_words(Time.now, checkin.created_at) %></p>
          </div>
        </div>
        <%= link_to profile_dashboard_path(checkin.user) do %>
        <%= cl_image_tag checkin.user.photo %>
        <% end %>
      </div>
    </div>
  </div>
  <hr>
  <% end %>
</div>
