 <div class="container container-checkin-new">
  <div class="row d-flex justify-content-center">
    <div class="checkin-form">
      <%= simple_form_for(@checkin, url: create_checkin_check_ins_path, method: :post) do |f| %>
        <%= f.input :comment, input_html: {value: 'Here!'} %>
        <%= f.input :place_id, collection: @nearby_places %>
        <%= f.input :type_of_music, collection: CheckIn::TYPE_OF_MUSIC %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit 'CheckIn',class: "btn btn-primary"  %>
      <% end %>
        </div>
  </div>
</div>


