<div class="banner-recommended">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle banner-recommended-search-bar" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Search
    </button>
    <ul class="dropdown-menu search-box-filter allow-focus" aria-labelledby="dropdownMenuButton">
      <li class="search-form">
        <div>
          <%= form_tag places_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "search"
          %>
        </div>
      </li>
      <hr>
      <div class="checkbox-container">
        <% CheckIn::TYPE_OF_MUSIC.each do |type| %>
        <li class="checkbox">
          <label for="<%= type %>" class="label-check">
            <input type="checkbox" class="d-none" autocomplete="off" value="<%= type %>" name="search[types][]" id="<%=type%>"><%= type %></label>
          </li>
          <% end %>
        </div>
        <hr>
        <div class="range">
          <label for="customRange2">Distance</label>
          <input type="range" class="custom-range" min="0" max="50" onchange="pin.value = distance.value + 'km'" id="distance" name="search[distance]">
          <output id="pin" name="pin" for="distance"></output>
        </div>
        <input type="submit" name="commit" value="Search" class="banner-submit btn btn-success">
        <% end %>
      </ul>
    </div>
    <h2>Here to Save Your Night </h2>
  </div>
  <div class="container container-banner">
    <hr>
    <div class="row justify-content-md-center">
      <div class="col-12 most-talked-about">
        <h2>Most Talked about places right now</h2>
        <div class="most-talked-about-container">
          <div class="slider">
            <% @most_talked_about.each do |place| %>
            <div class="card place-card">
              <%= link_to place_path(place) do %>
              <% if place.photo %>
              <%= cl_image_tag place.photo, class:"card-img-top" %>
              <% else %>
              <%= image_tag "https://cdn.theculturetrip.com/wp-content/uploads/2016/09/main-bar-at-tir-na-nog.jpg", class:"card-img-top" %>
              <% end %>
              <div class="card-body">
                <h2 class="card-text"> <%= place.name %></h2>
              </div>
            </div>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <hr >
    <div class="row justify-content-md-center">
      <div class="col-12 most-talked-about">
        <h2>Recommended for You</h2>
        <div class="most-talked-about-container">
          <div class="slider">
            <% if @recommended.empty? %>
            <% @recommended = @places %>
            <% end %>
            <% @recommended.each do |place| %>
            <div class="card place-card">
              <%= link_to place_path(place) do %>
              <% if place.photo %>
              <%= cl_image_tag place.photo, class:"card-img-top" %>
              <% else %>
              <%= image_tag "https://cdn.theculturetrip.com/wp-content/uploads/2016/09/main-bar-at-tir-na-nog.jpg", class:"card-img-top" %>
              <% end %>
              <div class="card-body">
                <h2 class="card-text"> <%=place.name %></h2>
              </div>
            </div>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= content_for :after_js do %>
  <%= javascript_pack_tag 'recommended' %>
  <% end %>
