<div class="banner-place-page" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @place.photo %>)">
  <%= @place.name %>
</div>
<div class="container container-place-page">
  <div class="row">
    <div class="col-6">
      <% counter = 0 %>
      <% @most_recent_checkins.each do |checkin| %>
      <% if checkin.place == @place %>
      <%counter += 1%>
      <% @last_checkin = checkin %>
      <% end %>
      <% end %>
      <div class="place-details">
        <% if counter == 0 %>
        <p>Be the first tonight to check in <%= @palce.name %></p>
        <% else %>
        <img class="icon-batwrap" src="https://img.icons8.com/cotton/64/000000/raise-a-hand-to-answer--v2.png"><p>  <strong><%= counter %></strong> people are here!</p>
        <img class="icon-batwrap" src="https://img.icons8.com/wired/64/000000/speaker.png"><p> now playing <strong><%= @last_checkin.type_of_music%></strong> </p>
        <% end %>
      </div>
    </div>
    <div class="col-6">
      <p>something should be here</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <div class="check-in-container">
        <h2>Check-ins</h2>
        <% @place_checkins_history.each do |checkin| %>
        <div class="checkin">
          <div class="checkin-location">
            <img class="icon-batwrap" src="https://img.icons8.com/material/24/000000/worldwide-location--v1.png"><p><%=checkin.place.name%></p>
          </div>
          <div class="checkin-content">
            <p><%= checkin.comment %></p>
          </div>
          <div class="checkin-time">
            <p><%= distance_of_time_in_words(Time.now, checkin.created_at) %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
</div>
