<div class="banner-place-page">
  <%= @place.name %>
  <div class="favorite-place-button">
    <%if @favorited %>
    <%=  link_to favorite_place_path(@place, type: "unfavorite"), method: :put do %>
    <i class="fas fa-heart"></i>
    <% end %>
    <% else %>
    <%=  link_to favorite_place_path(@place, type: "favorite"), method: :put do %>
    <i class="far fa-heart"></i>
    <% end %>
    <% end %>
  </div>
</div>
<div class="container container-place-page">
  <div class="row">
    <div class="col-12">
      <% counter = 0 %>
      <% @most_recent_checkins.each do |checkin| %>
      <% if checkin.place == @place %>
      <%counter += 1%>
      <% @last_checkin = checkin %>
      <% end %>
      <% end %>
      <div class="place-details">
        <div class="place-details-left">
          <% if counter == 0 %>
          <div class="place-details-left-content">
            <img class="icon-barwrap" src="https://img.icons8.com/cotton/64/000000/raise-a-hand-to-answer--v2.png"><p>Be the first tonight to check in <%= @place.name %></p>
          </div>
          <% else %>
          <div class="how-many-type-music">
            <img class="icon-barwrap" src="https://img.icons8.com/cotton/64/000000/raise-a-hand-to-answer--v2.png"><p>  <strong><%= counter %></strong> people are here!</p>
          </div>
          <% if !@last_checkin.type_of_music.blank?  %>
          <div class="how-many-type-music">
            <img class="icon-barwrap" src="https://img.icons8.com/wired/64/000000/speaker.png"><p> now playing <strong><%= @last_checkin.type_of_music%></strong> </p>
          </div>
          <% end %>
          <% end %>
        </div>
        <%= link_to new_place_check_in_path(@place) do %>
        <div class="checkin-plus">
          <img src="https://img.icons8.com/nolan/64/000000/plus.png" class="create-checkin-button" >
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="check-in-container">
  <h2>Check-ins</h2>
  <% @place_checkins_history.each do |checkin| %>
    <div class="col-12">
      <div class="checkin">
        <div class="checkin-content">
          <% if !checkin.photo.model[:photo].nil? %>
          <div class="checkin-comment">
            <%= link_to profile_dashboard_path(checkin.user) do %>
              <%= cl_image_tag checkin.user.photo , class:"check-avatar"%>
              <p> <strong><%= checkin.user.username %></strong>
            <% end %>
            <%= checkin.comment %></p>
          </div>
          <div class="dropdown-checkin">
            <%= cl_image_tag checkin.photo, class:"snapshot" %>
            <i class="fas fa-ellipsis-h"></i>
          </div>
          <% else %>
          <div class="checkin-comment">
            <%= link_to profile_dashboard_path(checkin.user) do %>
              <%= cl_image_tag checkin.user.photo , class:"check-avatar"%>
              <p> <strong><%= checkin.user.username %></strong>
            <% end %>
             <%= checkin.comment %></p>
          </div>
          <% end %>
        </div>
        <div class="checkin-time">
          <p><%= distance_of_time_in_words(Time.now, checkin.created_at) %></p>
        </div>
      </div>
    </div>
    <hr>
    <% end %>
  </div>
</div>

<div
id="map"
style="width: 100%;
height: 400px;"
data-markers="<%= @markers.to_json %>"
data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
<%= content_for :after_js do %>
  <%= javascript_pack_tag 'show' %>
<% end %>
