<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body >
    <%= render 'shared/flashes' %>
    <% if current_user && !current_page?(edit_user_path(current_user))%>
    <div class="navbar navbar-expand-sm navbar-lewagon">
      <%= link_to profile_dashboard_path(current_user), class: "navbar-brand" do %>
        <%= cl_image_tag current_user.photo, class:"avatar" %>
      <% end %>
      <% if params[:id].nil? || !current_page?(place_path(params[:id])) %>
        <div class = "image-button">
              <%= link_to new_checkin_check_ins_path  do %>
              <div class="checkin-plus">
                <img src="https://img.icons8.com/nolan/64/000000/plus.png" class="create-checkin-button" width="40px" >
                <% end %>
              </div>
        </div>
      <%end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-ellipsis-v"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </div>
    <% end %>
    <div <% if current_user && !current_page?(edit_user_path(current_user))%>
      id="yield-container"<% end %>>
      <%= yield %>
    </div>
    <% if current_user && !current_page?(edit_user_path(current_user)) %>
    <div class="footer">
      <%= link_to check_ins_path do %>
      <div class="tab-nav <% if current_page?(check_ins_path) || current_page?(root_path)%>clicked <% end %>">
        <i class="fas fa-bars"></i>
      </div>
      <% end %>
      <%= link_to places_recommended_path do %>
      <div class="tab-nav <% if current_page?(places_recommended_path) %>clicked <% end %>">
        <i class="fas fa-search"></i>
      </div>
      <% end %>
      <%= link_to places_path do%>
      <div class="tab-nav <% if current_page?(places_path) %>clicked <% end %>">
        <i class="fas fa-globe-europe"></i>
      </div>
      <% end %>
    </div>
    <% end %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield(:after_js) %>
  </body>
</html>
