
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BarWrap</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body class=<% if current_user && !current_page?(root_path) %>"body-black"<% end %>>
    <%= render 'shared/flashes' %>
    <div id="yield-container">
      <%= yield %>
    </div>
    <div class="footer">
      <%= link_to check_ins_path do %>
      <div class="tab-nav <% if current_page?(check_ins_path) %>clicked <% end %>">
        <i class="fas fa-bars"></i>
      </div>
      <% end %>
      <%= link_to places_recommended_path do %>
      <div class="tab-nav <% if current_page?(places_recommended_path) %>clicked <% end %>">
        <i class="fas fa-search"></i>
      </div>
      <% end %>
      <%= link_to places_path do%>
      <div class="tab-nav <% if current_page?(places_path) %>clicked <% end %>">
        <i class="fas fa-globe-europe"></i>
      </div>
      <% end %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield(:after_js) %>
  </body>
</html>
